
CadastroVeiculas.Infra/bin/

CadastroVeiculas.Infra/obj/

CadastroVeiculos/bin/

CadastroVeiculos/obj/

CadastroVeiculos.Application.Services/bin/

CadastroVeiculos.Application.Services/obj/

CadastroVeiculos.Domain/bin/

CadastroVeiculos.Domain/obj/

CadastroVeiculos.Domain.Services/bin/

CadastroVeiculos.Domain.Services/obj/

CadastroVeiculos.MessageBus/bin/

CadastroVeiculos.MessageBus/obj/

CadastroVeiculos.Test/bin/

CadastroVeiculos.Test/obj/

CadastroVeiculos.Tests/obj/
